{% extends 'betterchecks_app/base_template.html' %}
{% block body_block %}
{% load static %}
<div class="container-full bg-dark">
    <div class="container-full">
        <div class="container bg-light"><br /><br />
        <h1 class="text-center"><strong><b>360 INFORMATION RESEARCH SERVICES</b></strong></h1><br /><br />
            <div class="row">
                <div class="col-md-6">
            <p>
                Information has become a critical element in life and society. It is an important part of development. Betachecks is strongly relying on 360 information research to gather the depth and breadth of information and research that 360 degree offers without leaving anyone behind by providing thorough consulting services to people who desire to obtain data about specific topics. Information is gathered from credible sources to provide reliable analysis of this findings and also interpret the information for the client’s needs based on specialized and customized research services.
            </p><br /><br /><br /><br />
            
            <hr /><br /><br /><br /><br />
              <p class="text-center"><strong><b>
            If you need more details about our 360 Information Research Services, and our charges, kindly get in touch below.
        </b></strong></p>
        </div>
    <div class="col-md-6">
        <div class="container-full border bg-light"><br /><br />
        <h3 class="text-center">Get in touch with us</h3>
        <div class="container">
            <div class="container">
            <div class="container">
            <div class="container">
            <div class="container">
            <form method="POST">
    {% if messages %}
<ul class="messages text-danger">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
            {% load bootstrap %}
            {{ form|bootstrap }}
            {% csrf_token %}
            <input type="submit" class="btn btn-warning" value="Submit" /><br /><br /><br />
            </form>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
    </div>
    </div>
    </div>
</div>
      <div class="container-full bg-dark" style="padding:40px">
          
    </div>
<footer>
 <div class="container-full bg-dark"><br />
     <div class="container">
     <div class="row">
        <div class="col-md-3">
            <h5 class="text-white">ABOUT</h5>
            <p class="text-white">
                Betachecks is deploying an open and ever growing trainings platform providing access to curated contents related to fact checking, media literacy and accountability, media freedom and pluralism in Africa.
            </p>
         </div>
         <div class="col-md-3">
            <h5 class="text-white">OUR SERVICES</h5>
             <a class="text-white nav-link">Education</a>
             <a class="text-white nav-link">Health</a>
             <a class="text-white nav-link">Environment</a>
             <a class="text-white nav-link">Socio-Economy Development</a>
             <a class="text-white nav-link">Science</a>
             <a class="text-white nav-link">Training</a>
         </div>
         <div class="col-md-3">
            <h5 class="text-white">QUICK LINKS</h5>
              <a class="text-white nav-link">Home</a>
             <a class="text-white nav-link">Fact Checking</a>
             <a class="text-white nav-link">Money Train</a>
             <a class="text-white nav-link">Shady Spotlight</a>
         </div>
         <div class="col-md-3">
            <h5 class="text-white">FOLLOW US</h5>
                <a class="nav-link text-white" href="https://www.facebook.com/BetaChecks/" target="_blank"><img src="{% static 'images/facebook.png' %}" alt="social media icon"> Facebook</a>
            <a class="nav-link text-white" href="https://twitter.com/BetaChecks?s=08" target="_blank"><img src="{% static 'images/twitter.png' %}" alt="social media icon"> Twitter</a>
            <a class="nav-link text-white" href="https://www.youtube.com/channel/UC7NkJt7njv4HFvjCNi6QGmw/" target="_blank"><img src="{% static 'images/youtube.png' %}" alt="social media icon"> Youtube</a>
         </div>
     </div>
</div>
     </div>
    <div class="container-full bg-dark" style="padding:10px"><br /><br />
        <hr />
        <p class="text-muted text-center">Copyright &copy; 2020. Betachecks | All rights reserved.</p>
    </div>
</footer>
{% endblock %}