{% extends 'betterchecks_app/base_template.html' %}
{% block body_block %}
{% load static %}
<div class="container-full bg-light">
<div class="container-full bg-dark">
<div class="container bg-light"><br />
    <h4 class="text-center"><strong>WHAT IS FAKE NEWS</strong></h4><br /><br />
    <p>
     “Fake news” is simply information that cannot be verified, without sources, and possibly untrue. It is also referred to be fabricated news. Fake news is an invention- a lie created out of nothing- that takes the appearance of real news with the aim of deceiving people.  Fake news can come in many forms from political fake news, spectacular fake news (a created sensational information spread to generate likes in order to make money ad revenue), it could stage a celebrity, tries to sell something, creates fear, promotes racist ideas, sustains sexist ideas or myths, conspiracies, pranks and satires. It could be in form of opinions and allegations presented as facts and also in form of certain types of messages received by private messages, certain types of Youtube videos, manipulated videos featuring celebrities.
    </p><br />
    <p><span class="text-warning"><strong>MIND YOU:</strong></span>
    Just because you or anyone disagree with an opinion doesn’t mean its fake news. Be careful not to consider an opinion to be fake news. Everyone is entitled to their opinion and an opinion is not a fact.
    </p><br /><br />
    
    <h4 class="text-center"><strong>TYPES OF FAKE NEWS</strong></h4>
    <ul>
    <p><li><span class="text-warning"><strong>Fake/Hoax News - </strong></span> news that is fabricated with the intention of misleading or confusing readers</li></p>
    <p><li><span class="text-warning"><strong>Misleading News -  </strong></span> news stories that report quotes, images, statistics out of context, some of these stories can be old stories that are re-reported with a new misleading headline</li></p>
    <p><li><span class="text-warning"><strong>Mimic Websites -  </strong></span> fake news websites that mimic the look of trusted news sources in order to fool readers into thinking a story is real</li></p>
    <p><li><span class="text-warning"><strong>Satire - </strong></span>fake and ironic news stories that are intended to be funny or entertaining. </li></p>
    <p><li><span class="text-warning"><strong>Clickbait -  </strong></span> news that is promoted with dramatic or misleading headlines that do not reflect the content of the actual story</li></p>
    <p><li><span class="text-warning"><strong>Alternative/Alternate Facts -  </strong></span> A different interpretation of facts, usually derived from a misinterpretation of reports or by focusing only on a subset of the available information</li></p>
    </ul>

<br />
    

    <hr />
<div class="container bg-light">
    <div class="row">
        <div class="col-md-6 border  bg-primary text-white">
        <h4 class="text-center"><strong>WARNING ABOUT FAKE NEWS</strong></h4>
            <hr style="width:40%;text-align:center; height: 2px; background-color: orange;"><br /><br />
        <p><b><strong>Be skeptical of everything you see, hear, or read</strong></b></p>
            <p>Satire can include fake news that makes fun of the news.
            Some fake news is not satire, however. 
            Some fake news is intentionally misleading.
            Some "real" news is unintentionally misleading.
        </p><br /><br />
            <p><b><strong>Problem: </strong></b></p>
        <p> Incorrect or misleading news
            slips into the social media stream
            and people usually cannot distinguish
            the "fake" news from the "real" news.
        </p><br /><br />
            <p><b><strong>Solution: </strong></b></p>
           <p><b>A</b>lways evaluate the author and source.</p>
           <p><b>B</b>e skeptical. </p>
           <p><b>C</b>heck sources for accuracy.</p>
           <p><b>D</b>on't forward until you fact-check</p>
        </div>
        <div class="col-md-6 border bg-dark text-white">
        <h4><strong>SIFT TO FIND QUALITY SOURCES ONLINE</strong></h4>
            <hr style="width:40%;text-align:center; height: 2px; background-color: orange;">
        <p>Use the following SIFT skills employed by many fact checkers to determine if a news source or claim is factual and trustworthy. </p>
                      
<table class="table table-striped table-dark">
  <tbody>
    <tr>
     <th scope="row" class="text-danger"><h1>S</h1></th>
      <td><p><strong><b>Stop!</b></strong> Do NOT read the source you just found, instead:</p></td>
    </tr>
    <tr>
      <th scope="row" class="text-success"><h1>I</h1></th>
      <td><p><strong><b>Investigate the source. </b></strong> Use Google and/or Wikipedia to find out more about the source of information. If Wikipedia doesn't have enough information, look at the linked sources at the bottom of the Wikipedia article.</p></td>
    </tr>
    <tr>
      <th scope="row" class="text-warning"><h1>F</h1></th>
      <td><p><strong><b>Find the original source.</b></strong>If the source you found seems to be quoting from another article or other source, find the original source of information to confirm facts and investigate the original source.</p></td>
    </tr>
     <tr>
      <th scope="row" class="text-primary"><h1>T</h1></th>
      <td><p><strong><b>Look for Trusted sources. </b></strong>IBuild a library in your mind of sources you have found to be trustworthy. When you see a claim online, you can Google the claim and add the name of one of your trusted sources to see if they have covered the same story. Fact checking websites like are great sources of trustworthy information because of the amount of research they do to verify a story</p></td>
    </tr>
  </tbody>
</table>
        </div>
    </div>
     <div class="container-full bg-light" style="padding:30px">
        <!--<marquee class="text-white" behavior="schroll" direction="right"><h4>BEWARE OF FAKE NEWS</h4></marquee>-->
    </div>
    <img src="{% static 'images/banner.png'%}" height="800px" class="d-block w-100" alt="..." /><br /><br />
    
</div>
</div>
</div>
    </div>
      <div class="container-full bg-dark" style="padding:40px">
          
    </div>
<footer>
 <div class="container-full bg-dark"><br />
     <div class="container">
     <div class="row">
        <div class="col-md-3">
            <h5 class="text-white">ABOUT</h5>
            <p class="text-white">
                Betachecks is deploying an open and ever growing trainings platform providing access to curated contents related to fact checking, media literacy and accountability, media freedom and pluralism in Africa.
            </p>
         </div>
         <div class="col-md-3">
            <h5 class="text-white">OUR SERVICES</h5>
             <a class="text-white nav-link">Education</a>
             <a class="text-white nav-link">Health</a>
             <a class="text-white nav-link">Environment</a>
             <a class="text-white nav-link">Socio-Economy Development</a>
             <a class="text-white nav-link">Science</a>
             <a class="text-white nav-link">Training</a>
         </div>
         <div class="col-md-3">
            <h5 class="text-white">QUICK LINKS</h5>
              <a class="text-white nav-link">Home</a>
             <a class="text-white nav-link">Fact Checking</a>
             <a class="text-white nav-link">Money Train</a>
             <a class="text-white nav-link">Shady Spotlight</a>
         </div>
         <div class="col-md-3">
            <h5 class="text-white">FOLLOW US</h5>
                <a class="nav-link text-white" href="https://www.facebook.com/BetaChecks/" target="_blank"><img src="{% static 'images/facebook.png' %}" alt="social media icon"> Facebook</a>
            <a class="nav-link text-white" href="https://twitter.com/BetaChecks?s=08" target="_blank"><img src="{% static 'images/twitter.png' %}" alt="social media icon"> Twitter</a>
            <a class="nav-link text-white" href="https://www.youtube.com/channel/UC7NkJt7njv4HFvjCNi6QGmw/" target="_blank"><img src="{% static 'images/youtube.png' %}" alt="social media icon"> Youtube</a>
         </div>
     </div>
</div>
     </div>
    <div class="container-full bg-dark" style="padding:10px"><br /><br />
        <hr />
        <p class="text-muted text-center">Copyright &copy; 2020. Betachecks | All rights reserved.</p>
    </div>
</footer>
{% endblock %}